**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/*.cache
**/.idea
**/node_modules
**/.dockerignore
**/Dockerfile*
**/*.md
**/plans
**/logs
**/*.db
**/*.log
**/.env
**/.settings
**.gguf
